<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8" />
<title>stdin</title>
</head>
<body style="background:black">
<pre>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:dimgray;">[19654]</span><span style="font-weight:bold;color:blue;"> </span><span style="font-weight:bold;color:green;">j3r3mias</span><span style="font-weight:bold;color:dimgray;">@</span><span style="font-weight:bold;color:blue;">serenity</span><span style="font-weight:bold;color:dimgray;">:</span><span style="font-weight:bold;color:red;">misc-segfault-labyrinth</span><span style="font-weight:bold;color:purple;"> </span><span style="font-weight:bold;color:dimgray;">&gt;</span><span style="color:white;"></span><span style="color:white;background-color:black;"> ./challenge
Welcome to the Segfault Labyrinth


AAAA
^C
</span><span style="font-weight:bold;color:black;background-color:black;"></span><span style="font-weight:bold;color:red;background-color:black;">✘ </span><span style="font-weight:bold;color:dimgray;background-color:black;">[19655]</span><span style="font-weight:bold;color:blue;background-color:black;"> </span><span style="font-weight:bold;color:green;background-color:black;">j3r3mias</span><span style="font-weight:bold;color:dimgray;background-color:black;">@</span><span style="font-weight:bold;color:blue;background-color:black;">serenity</span><span style="font-weight:bold;color:dimgray;background-color:black;">:</span><span style="font-weight:bold;color:red;background-color:black;">misc-segfault-labyrinth</span><span style="font-weight:bold;color:purple;background-color:black;"> </span><span style="font-weight:bold;color:dimgray;background-color:black;">&gt;</span><span style="color:white;"></span><span style="color:white;background-color:black;">
</span>
</pre>
</body>
</html>
