<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8" />
<title>stdin</title>
</head>
<body style="background:black">
<pre>
<span style="font-weight:bold;"></span><span style="font-weight:bold;color:dimgray;">[19144]</span><span style="font-weight:bold;color:blue;"> </span><span style="font-weight:bold;color:green;">j3r3mias</span><span style="font-weight:bold;color:dimgray;">@</span><span style="font-weight:bold;color:blue;">serenity</span><span style="font-weight:bold;color:dimgray;">:</span><span style="font-weight:bold;color:red;">misc-segfault-labyrinth</span><span style="font-weight:bold;color:purple;"> </span><span style="font-weight:bold;color:dimgray;">&gt;</span><span style="color:white;"></span><span style="color:white;background-color:black;"> checksec --file challenge
[</span><span style="font-weight:bold;color:black;background-color:black;"></span><span style="font-weight:bold;color:blue;background-color:black;">*</span><span style="color:white;"></span><span style="color:white;background-color:black;">] '/CTF/2022-google-ctf/misc-segfault-labyrinth/challenge'
    Arch:     amd64-64-little
    RELRO:    </span><span style="color:olive;background-color:black;">Partial RELRO</span><span style="color:white;background-color:black;">
    Stack:    </span><span style="color:red;background-color:black;">No canary found</span><span style="color:white;background-color:black;">
    NX:       </span><span style="color:red;background-color:black;">NX disabled</span><span style="color:white;background-color:black;">
    PIE:      </span><span style="color:green;background-color:black;">PIE enabled</span><span style="color:white;background-color:black;">
    RWX:      </span><span style="color:red;background-color:black;">Has RWX segments</span><span style="color:white;background-color:black;">
</span>
</pre>
</body>
</html>
